<div>
  <div class="modal-header">
      <h3 class="modal-title">Create Appointment</h3>
  </div>
  <div class="modal-body">
    <form name="myForm" sf-schema="schema" sf-form="form" sf-model="entity" ng-submit="onSubmit(myForm)">
      <input type="submit" id="submit-form" class="hidden">
    </form>
  </div>
  <div class="modal-footer">
      <label for="submit-form" class="btn btn-primary">Submit</label>
      <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>