<div>
  <div class="modal-header">
      <h3 class="modal-title">View/Edit Client</h3>
      <button class="btn btn-primary" style="float:right;" ng-click="showCalendar()"><i class="fa fa-calendar"> Calendar</i></button>
  </div>
  <div class="modal-body">
    <form name="myForm" sf-schema="schema" sf-form="form" sf-model="entity" ng-submit="onSubmit(myForm)">
      <input type="submit" id="submit-form" class="hidden">
    </form>
  </div>
  <div class="modal-footer">
      <div id="editClientModalError" ng-show="error" class="alert alert-danger row" style="text-align: center;">
        <i class="fa fa-exclamation-circle"></i>
            <span>{{ error }}</span>
        <i class="fa fa-times" ng-click="hideEditClientModalError()" style="float: right"></i>
      </div>
      <button class="btn btn-danger" style="float:left;" ng-click="deleteClient()"><i class="fa fa-trash"> Delete Client</i></button>
      <button class="btn btn-primary" style="float:left;" ng-click="exportToExcel('#clientTable')"><i class="fa fa-file-excel-o"> Export</i></button>
      <button class="btn btn-primary" style="float:left;" ng-click="exportToExcelHistory('#historyTable')"><i class="fa fa-file-excel-o"> History</i></button>
      <label for="submit-form" class="btn btn-primary">Submit</label>
      <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>

<table class="table" id="clientTable" ng-hide="true">
    <tr>
        <th>Client Name</th>
        <th>Address</th>
        <th>Cleaning Cost</th>
        <th>Date</th>
        <th>Paid</th>
    </tr>
    <tr ng-repeat="client in allInfo" ng-if="client.paid === false">
        <td>{{client.name}}</td>
        <td>{{client.address}}</td>
        <td>{{client.cleaningCost}}</td>
        <td>{{client.sharedDate | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>{{client.paid | paidNotpaid}}</td>
    </tr>
</table>

<table class="table" id="historyTable" ng-hide="true">
    <tr>
        <th>Client Name</th>
        <th>Address</th>
        <th>Cleaning Cost</th>
        <th>Date</th>
        <th>Paid</th>
    </tr>
    <tr ng-repeat="client in allInfo">
        <td>{{client.name}}</td>
        <td>{{client.address}}</td>
        <td>{{client.cleaningCost}}</td>
        <td>{{client.sharedDate | date:'MM/dd/yyyy @ h:mma'}}</td>
        <td>{{client.paid | paidNotpaid}}</td>
    </tr>
</table>