<div>
  <div class="modal-header">
      <h3 class="modal-title">View/Edit Client</h3>
      <button class="btn btn-primary" style="float:right;" ng-click="showCalendar()">Calendar</button>
  </div>
  <div class="modal-body">
    <form name="myForm" sf-schema="schema" sf-form="form" sf-model="entity" ng-submit="onSubmit(myForm)">
      <input type="submit" id="submit-form" class="hidden">
    </form>
  </div>
  <div class="modal-footer">
      <div id="editClientModalError" ng-show="error" class="alert alert-danger row" style="text-align: center;">
        <i class="fa fa-exclamation-circle"></i>
            <span>{{ error }}</span>
        <i class="fa fa-times" ng-click="hideEditClientModalError()" style="float: right"></i>
      </div>
      <button class="btn btn-danger" style="float:left;" ng-click="deleteClient()">Delete Client</button>
      <label for="submit-form" class="btn btn-primary">Submit</label>
      <button class="btn btn-primary" ng-click="$close()">Cancel</button>
  </div>
</div>